<!DOCTYPE html>
	<html>
		<head>
			<!-- Google Analytics -->
			<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-17707549-2', 'auto');
			ga('send', 'pageview');
			</script>
			<script async src='https://www.google-analytics.com/analytics.js'></script>
			<!-- End Google Analytics -->
		</head>
		<body>
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJM8V95"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cyberorca@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cyberorca">github.com/cyberorca</a></li>
				</ul>
			</footer>
				ga('set', 'page', '/default.html');
				ga('send', 'event', {
				  'eventCategory': 'Category',
				  'eventAction': 'Action',
				  'eventValue': 55
				});
			</script>
		</body>
	</html>
